/*------------------ 
common styles 
--------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.primary-color {
    color: #FF900E;
}

.secondary-color {
    color: #727272;
}

/*------------------ 
header styles 
--------------------*/
.header-section {
    background-color: #FFF4E7;
    padding: 24px 100px;
}

/* nav styles  */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-weight: 700;
    font-size: 30px;
    color: #131313;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}

.menu-container li {
    list-style: none;
}

.menu-container li a {
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner styles  */
.banner-text {
    text-align: center;
    margin: 70px 0px 50px;
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
    font-size: 16px;
    width: 600px;
    margin: 32px auto;
    line-height: 26px;
}

.banner-img img {
    width: 100%;
}

/*------------------ 
main styles 
--------------------*/
.main-section {
    padding: 85px 100px;
}

/* feature section styles  */
.feature-section {
    display: flex;
    gap: 50px;
    align-items: center;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.feature-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin: 32px 0px;
}

/* feature type styles */
.feature-type-section {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 100px 0px;
}

.feature-type-texts {
    width: 45%;
}

.feature-type-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-item {
    padding: 30px;
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.28);
}

.feature-item-title {
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.feature-item-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
}

.feature-type-image {
    width: 50%;
}

.feature-architect-image {
    width: 90%;
}

.year-text {
    font-size: 45px;
    font-weight: 700;
}

.experience-btn {
    position: relative;
    bottom: 75px;
    left: -50px;
}

/* fact section style  */
.facts-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.facts-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}

.facts {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 40px 35px;
    transition: transform 0.3s ease-in-out;
}
.fact-number{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin: 10px 0px 5px;
}
.fact-name{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}
.fact:hover{
    transform: scale(0.75);
}

/*---------------------
 Mobile Devices Styles
 -----------------------  */
@media only screen and (max-width:576px) {

    /* header section  */
    .header-section,
    .main-section {
        padding: 20px;
    }

    .nav-container {
        flex-direction: column;
    }

    .banner-description {
        width: 100%;
    }

    /* main section  */
    .feature-section {
        flex-direction: column;
    }

    .feature-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-type-section {
        flex-direction: column;
        align-items: center;
    }

    .feature-type-texts,
    .feature-type-image,
    .feature-architect-image {
        width: 100%;
    }

    .experience-btn {
        bottom: 55px;
        left: -10px;
    }
    .facts {
        flex-direction: column;
        gap: 20px;
    }
}

/*---------------------
 Tablet and Ipad Devices Styles
 -----------------------  */
@media only screen and (min-width:577px) and (max-width:992px) {
    .nav-container {
        flex-direction: column;
    }

    /* main section  */
    .feature-section {
        flex-direction: column;
    }

    .feature-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .feature-type-section {
        flex-direction: column;
        align-items: center;
    }

    .feature-type-texts,
    .feature-type-image,
    .feature-architect-image {
        width: 100%;
    }
    .facts {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }
    .fact{
        width: 200px;
    }
}